html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  background: rgb(0, 62, 117);
}

.bg {
  background-image: url(img/substrate1.jpg);

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  margin: 0 auto;
  width: 75rem;
  background-color: #f4f9ff;
}

.headerIcons {
  background: rgba(20, 52, 94, 0.94);
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.28);
}
.headerIcons__wrapper {
  margin: 0 auto;
  width: 75rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerIcons__item {
  width: 3rem;
}

.header {
  display: flex;
  height: 3rem;
  align-items: center;
  background: linear-gradient(180deg, #003f76 100%, #194073 2%);
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.28);
}

.header__logo {
  margin-top: 6.5rem;
  z-index: 2;
}

.nav {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.nav__item a {
  color: #ffffff;
}

.nav__item {
  text-align: center;
  vertical-align: middle;
  /* box-sizing: border-box; */
  border-radius: 5px;
  margin: 1.1rem;
}

/* .nav__item :hover {
  background-color: #98b4d8;

  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px; 
  font-style: normal;
  font-weight: bold;
} */

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  background: #184073;
  color: #ffffff;
  text-transform: uppercase;
}

.gamesSchedule__wrapper {
  display: flex;
  background-image: url(img/slider_fon.jpg);
  align-items: center;
  justify-content: space-around;
  background-size: cover;
}

.gameItem {
  width: 14rem;
  background: #ffffff;
  border: 3px solid #184073;
  /* box-sizing: border-box; */
  border-radius: 5px;
  text-align: center;
  word-break: break-all;
  padding: 2px;
}

.gameItem__gamesSchedule {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.gameItem__title {
  font-family: Roboto;
  color: #011938;
  text-transform: uppercase;
  text-align: center;
}

.gameItem__team_win {
  font-weight: 500;
  font-size: 2rem;
  color: #184073;
  font-weight: bold;
}

.gameItem__team {
  font-family: Roboto;
  font-size: 1.4rem;
  color: #14345e;
  text-transform: uppercase;
}

.gameItem__count {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  color: #14345e;
}

.gameItem__location {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #14345e;
}

.gameItem__time {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #14345e;
}
.gameItem__date {
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #c10000;
}

.blockInfo {
  background: #d8e5f8;
  border: 1px solid #98b4d8;
  /* box-sizing: border-box; */
  border-radius: 5px;
}
.blockWrapper {
  display: flex;
  overflow: hidden;
}

.newsBlock {
}

.news__wrapper {
  padding: 1rem 0 1rem 3rem;
  text-align: center;
}

.news__blockInfo {
  height: 411px;
  width: 637px;
}

.newGame {
}
.news__title {
  font-family: Roboto;

  font-weight: bold;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: 7px;
}

.news__title a {
  color: #14345e;
}

.news__body {
  display: flex;
  justify-content: center;
  /* box-sizing: border-box; */

  z-index: 2;
}

.news__foto {
  border: 2px solid #184073;
  border-radius: 5px;
  /* box-sizing: border-box; */
  z-index: 1;
  object-fit: cover;
  width: 559px;
  height: 327px;
}

.news__footer {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__date {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #14345e;
}

.news__detail {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #14345e;
}

.news__allNews {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
.button_primery {
  color: #ffffff;
  background-color: #184073;
  border-radius: 5px;
  height: 30px;
  padding: 2px 15px;
}

.button_primery:hover {
  background-color: darkorange;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.newGame__wrapper {
  padding: 1rem 3rem 1rem 2rem;
  text-align: center;
}

.newGame__blockInfo {
  height: 411px;
  width: 435px;
}

.newGame__title {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #011938;
  font-weight: bold;
  padding: 0.5rem 5rem;
}

.newGame__wrapperTeams {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
.newGame__teamHome {
  font-family: Roboto;
  color: #14345e;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.newGame__teamSplit {
  font-family: Montserrat;
  font-weight: bold;
  color: #14345e;
  font-size: 3rem;
}
.newGame__teamGuest {
  font-family: Roboto;
  color: #14345e;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.newGame__locationGame {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 500;
  color: #c10000;
  padding-top: 0.5rem;
}
.newGame__timeGame {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 500;
  color: #c10000;
  padding-top: 0.5rem;
}
.newGame__dateGame {
  font-family: Montserrat;
  font-weight: bold;
  color: #c10000;
  font-size: 2rem;
}

.newGame__allGames {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

.leaders {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.leadersCard {
  width: 206px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leadersCard__category {
  font-family: Roboto;
  color: #14345e;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.5rem;
}
.leadersCard__plaeyer {
  position: relative;
  height: 231px;
  width: 160px;
  padding-top: 0.5rem;
}
.leadersCard__plaeyerNumber {
  position: absolute;
  font-family: Roboto;
  color: #14345e;
  font-size: 1rem;
  font-weight: 700;
  height: 31px;
  width: 31px;
  right: 2px;
  top: 15px;
}

.leadersCard__plaeyerFoto {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.leadersCard__plaeyerName {
  font-family: Roboto;
  color: #14345e;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
}
.leadersCard__gamesCount {
  font-family: Roboto;
  color: #14345e;
  font-size: 1rem;
  font-weight: 400;
}
.leadersCard__points {
  font-family: Roboto;
  color: #14345e;
  font-size: 1rem;
  font-weight: 400;
}

.achievements {
}
.standings {
  flex-grow: 1;
}

.achievements__wrapper {
  padding: 1rem 0 1rem 3rem;
}

.achievement {
  display: flex;
  width: 525px;
  height: 165px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.achievements__achievement {
  margin-top: 20px;
}
.achievement__titleAndPlaceWrapper {
  flex: 1 1 70%;
}
.achievement__icon {
}
.achievement__title {
  color: #14345e;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Roboto;
}
.achievement__place {
  margin-top: 10px;
  font-family: Roboto;
  color: #184073;
  font-weight: 500;
}

.achievements__achievement:first-child {
  margin-top: 0px;
}

.achievements__more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

.standings__wrapper {
  padding: 1rem 3rem 1rem 3rem;
}
.tournamentTable {
  width: 537px;
  height: 100%;
}

.tournamentTable__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.tournamentTable__title {
  font-family: Roboto;
  color: #14345e;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
}

td {
  margin: 10px;
}

.tournamentTable__header {
  font-family: Roboto;
  color: #184073;
  font-weight: 500;
  border-bottom: 1px solid #9fb9dc;
  border-top: 1px solid #9fb9dc;
}

.tournamentTable__row {
  font-family: Roboto;
  color: #14345e;
  font-weight: 400;
}
.tournamentTable__columnNumber {
  width: 40px;
  padding-left: 15px;
}
.tournamentTable__columnTeam {
  padding-left: 15px;
}
.tournamentTable__columnCountGame {
  width: 40px;
}
.tournamentTable__columnPoints {
  width: 40px;
}

.standings__more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

.footer {
  height: 166px;
  /* background: #184073; */
  background: rgb(0, 62, 117);
}

.footer__text {
  font-family: 'Roboto';
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.footer__text::after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 208px;
  height: 1px;
  background-color: #ffffff;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer__icons img {
  min-width: 32px;
  height: 32px;
  /* width: 100%;
  height: auto; */
}

.footer__iconsOk {
  margin-right: -9px;
  /* flex-shrink: 0; */
}
